:host {
  display: block;
}
ion-progress-bar {
  --background: var(--ion-color-warning);
  --progress-background: var(--ion-color-warning-tint);
  --buffer-background: transparent;
}
.transparent-bar {
  --background: transparent;
  --progress-background: transparent;
  --buffer-background: transparent;
}

.page-item {
  display: block;
}
