<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{pageTitle}}</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="sideBarLeft"></ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="end" *ngIf="!addingNew">
      <ion-button (click)="startAddingNew()" fill="outline">
        <ion-icon slot="icon-only" name="add-outline" fill="clear"></ion-icon>
        <span class="hide-small">Add New</span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="10" offset-md="1" size-xl="8" offset-xl="2">
        <app-no-item *ngIf="numItems === 0 && !addingNew" [pageTitle]="pageTitle"></app-no-item>

        <div style="display: flex; justify-content: center;" *ngIf="!addingNew">
          <ion-button class="ion-margin-horizontal" color="primary" (click)="startAddingNew()">
            <ion-icon slot="start" name="add-outline" fill="clear"></ion-icon> Add New
          </ion-button>
        </div>

        <div *ngIf="addingNew">
          <app-<%= dasherize(name)%>-add-new [list]="list"></app-<%= dasherize(name)%>-add-new>
        </div>
        
        <div *ngIf="!addingNew">
          <ion-searchbar
          placeholder="Focus area"
          [(ngModel)]="filteredFocus"
        ></ion-searchbar>
          <ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="false">
            <div *ngFor="let item of list; let i = index">
              <ng-container *ngIf="includesFilter(item)">
                <app-<%= dasherize(name)%>-item [item]="item" [itemIndex]="i"></app-<%= dasherize(name)%>-item>
              </ng-container>
            </div>
          </ion-reorder-group>
      </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
