<ng-container
  *ngLet="{
    editIndex: service.editIndex$ | async,
    addingNew: service.addingNew$ | async,
    uiState: service.uiState$ | async
  } as obs"
>
  <ng-container *ngIf="obs.uiState != 'reading'">
    <ion-card
      *ngIf="obs.editIndex !== itemIndex"
      class="ion-no-margin ion-margin-vertical"
    >
      <ion-card-content class="ion-no-margin ion-margin-vertical">
        <div class="title-with-badge">
          <div class="ion-text-uppercase">
            <div class="<%= dasherize(name)%>-title">
              {{ item.title }}
            </div>
          </div>

          <app-focus-badge
            class="badges"
            [focusList]="item.focus"
            *ngIf="!hideBadge"
          ></app-focus-badge>
        </div>
        <div class="item-text">
          {{ item.text }}
        </div>
      </ion-card-content>
      <ion-footer *ngIf="obs.uiState == 'display' && showToolbar === true">
        <ion-toolbar>
          <ion-reorder>
            <ion-button
              [disabled]="obs.uiState == 'editing' && obs.uiState == 'adding'"
              type="button"
              color="tertiary"
              size="small"
              fill="clear"
              shape="round"
              ><ion-icon name="shuffle-outline"></ion-icon
            ></ion-button>
          </ion-reorder>
          <app-actions
            *ngIf="obs.uiState == 'display'"
            slot="end"
            [itemType]="'<%= camelize(name)%>'"
            [actionMode]="'question'"
            [formMode]="'edit'"
            (edit<%= classify(name)%>)="onStartEdit(itemIndex)"
          ></app-actions>
        </ion-toolbar>
      </ion-footer>
    </ion-card>

    <ion-card *ngIf="obs.editIndex === itemIndex">
      <app-<%= dasherize(name)%>-form
        [formMode]="'edit'"
        [actionMode]="'answer'"
        [item]="item"
        (editSuccessful)="onEdit($event)"
        (editCancelled)="onCancelEdit()"
        (delete)="onDelete()"
      ></app-<%= dasherize(name)%>-form>
    </ion-card>
  </ng-container>

  <ng-container *ngIf="obs.uiState == 'reading'">
    <ion-card-content class="ion-no-margin ion-margin-vertical">
      <div class="title-with-badge">
        <div class="ion-text-uppercase">
          <div class="<%= dasherize(name)%>-title">
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </div>
        </div>

        <!-- <app-focus-badge
          class="badges"
          [focusList]="item.focus"
          *ngIf="!hideBadge"
        ></app-focus-badge> -->
      </div>
      <div class="item-text">
        <ion-skeleton-text animated></ion-skeleton-text>
        <ion-skeleton-text animated></ion-skeleton-text>
        <ion-skeleton-text animated></ion-skeleton-text>
      </div>
    </ion-card-content>
  </ng-container>
</ng-container>
<!-- </ng-container> -->
