<ion-card *ngIf="(editIndex$ | async) !== itemIndex">
  <ion-card-content>
    <div class="title-with-badge">
      <div>
        <h2 class="ion-text-uppercase">{{ item.title }}</h2>
      </div>
      <div class="badge-container">
        <ng-container *ngFor="let item$ of focusList$">
          <ion-badge class="focus-item" slot="end">{{
            (item$ | async)?.name
          }}</ion-badge>
        </ng-container>
      </div>
    </div>
    <div class="item-text">
      <ion-text>{{ item.text }}</ion-text>
    </div>
  </ion-card-content>
  <ion-footer
  *ngIf="
  (editIndex$ | async) === -1 &&
  (addingNew$ | async) === false &&
  showToolbar === true
"
>
    <ion-toolbar>
      <ion-reorder>
        <ion-button
          [disabled]="
            (editIndex$ | async) !== -1 && (addingNew$ | async) === false
          "
          type="button"
          color="tertiary"
          size="small"
          fill="clear"
          shape="round"
          ><ion-icon name="shuffle-outline"></ion-icon
        ></ion-button>
      </ion-reorder>
      <app-actions
        *ngIf="(editIndex$ | async) === -1"
        slot="end"
        [itemType]="'<%= camelize(name)%>'"
        [actionMode]="'question'"
        [formMode]="'edit'"        
        (edit<%= classify(name) %>)="onStartEdit(itemIndex)"
      ></app-actions>
    </ion-toolbar>
  </ion-footer>
</ion-card>

<ion-card *ngIf="(editIndex$ | async) === itemIndex">
  <app-<%= dasherize(name)%>-form
    [formMode]="'edit'"
    [actionMode]="'answer'"
    [item]="item"
    (editSuccessful)="onEdit($event)"
    (editCancelled)="onCancelEdit()"
    (delete)="onDelete()"
  ></app-<%= dasherize(name)%>-form>
</ion-card>
