<ion-card *ngIf="(editIndex$ | async) !== itemIndex">
  <ion-card-content>
    <div class="ion-text-uppercase">
      <h2>{{ item.title }}</h2>
    </div>
    {{ item.text }}
  </ion-card-content>
  <ion-footer *ngIf="(editIndex$ | async) === -1 && (addingNew$ | async) === false">
    <ion-toolbar>
      <ion-reorder>
        <ion-button
          [disabled]="(editIndex$ | async) !== -1 && (addingNew$ | async) === false"
          type="button"
          color="tertiary"
          size="small"
          fill="clear"
          shape="round"
          ><ion-icon name="shuffle-outline"></ion-icon
        ></ion-button>
      </ion-reorder>
      <app-actions
        *ngIf="(editIndex$ | async) === -1"
        slot="end"
        [itemType]="'<%= camelize(name)%>'"
        [actionMode]="'question'"
        [formMode]="'edit'"        
        (edit<%= classify(name) %>)="onStartEdit(itemIndex)"
      ></app-actions>
    </ion-toolbar>
  </ion-footer>
</ion-card>

<ion-card *ngIf="(editIndex$ | async) === itemIndex">
  <app-<%= dasherize(name)%>-form
    [formMode]="'edit'"
    [actionMode]="'answer'"
    [item]="item"
    (editSuccessful)="onEdit($event)"
    (editCancelled)="onCancelEdit()"
    (delete)="onDelete()"
  ></app-<%= dasherize(name)%>-form>
</ion-card>
