<div class="ion-text-center ion-text-uppercase">
  <h2 class="line-across ion-margin-bottom">
    <span>
      {{ formMode === 'new' ? 'Add New' : 'Edit' }}
      {{ service.pageTitle.singular }}
    </span>
  </h2>
</div>

<app-selected-focus
  [currentFocusRefList]="focusRefList"
  (focusSelectionEvent)="updateFocus($event)"
></app-selected-focus>

<form [formGroup]="form" (ngSubmit)="onSubmit()" #formRef="ngForm">
  <app-form-input
    [inputType]="'input'"
    [label]="'Title'"
    [controlName]="'title'"
    [form]="form"
    [ionInputMode]="'text'"
  ></app-form-input>
  <app-form-input
    [inputType]="'textarea'"
    [label]="'Description'"
    [controlName]="'text'"
    [form]="form"
    [ionInputMode]="'text'"
  ></app-form-input>
  <div class="answer-action-buttons">
    <!-- prettier-ignore -->
    <app-actions
      slot="end"
      [itemType]="'<%= camelize(name)%>'"
      [actionMode]="actionMode"
      [formMode]="formMode"
      (save<%= classify(name) %>)="submitForm()" 
      (cancel<%= classify(name) %>)="onCancel()" 
      (delete<%= classify(name) %>)="onDelete()" 
    ></app-actions>
  </div>
</form>
