<div class="ion-text-center ion-text-uppercase">
  <h2 class="line-across ion-margin-bottom">
    <span> {{ formMode === 'new' ? 'Add New' : 'Edit' }} {{ pageTitle }} </span>
  </h2>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()" #formRef="ngForm">
  <app-form-input [label]="'Title'" [controlName]="'title'" [form]="form"></app-form-input>
  <app-form-input
    [inputType]="'textarea'"
    [label]="'Description'"
    [controlName]="'text'"
    [form]="form"
    [ionInputMode]="'text'"
  ></app-form-input>
  <div class="center-action-buttons ion-padding-top ion-margin-top">
    <app-actions
      slot="end"
      [itemType]="'<%= camelize(name)%>'"
      [actionMode]="'answer'"
      [formMode]="formMode"
      (save<%= classify(name) %>)="submitForm()" 
      (cancel<%= classify(name) %>)="onCancel()" 
      (deleteSummary)="onDelete()"
     ></app-actions>
  </div>
</form>
